[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
gunicorn = "==21.2.0"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_full_version = "3.8.13"
