[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "==20.1.0"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
